.post-container
  h2.post-title
    a(href="/" + post.path)= post.title
  p#post-meta
    span#post-date= post.date.toDateString()
    for tag in post.tags
      a.post-tag(href="/tag/" + tag + "/index.html")= "-" + tag
  .post!= post.contents