doctype html
html(lang="en")
  head
    title mokacoding
    link(href="/css/griddy.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    link(href="/css/syntax-native.css", rel="stylesheet")
  body
    h1 mokacoding
    p mokagio's blabbering on software

    block contents

    div.footer
      | made with &hearts; by mokagio since 2013 
      | &nbsp;- twitter:&nbsp;
      a(href="https://twitter.com/mokagio") @mokagio
      | &nbsp;- github:&nbsp;
      a(href="https://github.com/mokagio") mokagio
